*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    outline-style: none;
}

.box_input{
    width: 300px;
    height: 200px;
    margin: 250px auto;
    padding: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #c5c5c5;
    border-radius:30px;
}

.box_input input{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #eeeeee;
}

.box_input button{
    border: none;
    background-color: rgb(255, 233, 134);
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.box_chat{
    background-image: url(https://ipg-connect.com/wp-content/uploads/2019/11/1-1.jpg);
    width: 400px;
    height: 600px;
    border: 1px solid rgb(255, 233, 134);
    margin: auto auto;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    

}

.top{
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: rgb(255, 255, 255); 
    width: 100%;
    height: 80px;
    background-color:rgb(255, 233, 134);
}

.input_box{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 233, 134);
    padding: 10px;
}

.input_box input{
    border: none;
    height: 100%;
    width: 85%;
    padding-left: 10px;
}

.box_messages{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;

}

.input_box button{
    margin-left: 5px;
    height: 100%;
    width: 15%;
    border: none;
    background-color: #ff8819;
    color: white;
    border-radius: 0 15px 15px 0;
}

.msg_me{
    background-color: aqua;
    width: max-content;
    max-width: 70%;
    padding: 10px;
    border-radius: 15px 0 15px 15px;

}

.msg_user{
    background-color: rgb(196, 196, 196);
    width: max-content;
    max-width: 70%;
    padding: 10px;
    border-radius: 0 15px 15px 15px;

}



